body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #dff3ff;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 42px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 20px;
}

/* MIX SLOTS */
.slots {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.slot {
  width: 110px;
  height: 110px;
  background: white;
  border-radius: 25px;
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* MIX BUTTON */
#mixBtn {
  margin-top: 20px;
  padding: 15px 70px;
  font-size: 28px;
  border: none;
  border-radius: 25px;
  background: #4ade80;
  font-weight: bold;
  cursor: pointer;
}

#mixBtn:hover {
  background: #22c55e;
}

/* RESULT BOX */
.result {
  margin: 25px auto;
  width: 80%;
  max-width: 420px;
  background: white;
  padding: 20px;
  border-radius: 20px;
  font-size: 24px;
  min-height: 70px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* BIG MIX ANIMATION */
.mix-animate {
  animation: mixBounce 0.6s ease;
  box-shadow: 0 0 25px gold;
}

@keyframes mixBounce {
  0%   { transform: scale(1); }
  30%  { transform: scale(1.3) rotate(5deg); }
  60%  { transform: scale(0.9) rotate(-5deg); }
  100% { transform: scale(1); }
}

/* ELEMENTS */
.elements {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.element {
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 25px;
  font-size: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: transform 0.15s;
}

.element:hover {
  transform: scale(1.08);
}

.element p {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
}

/* STICKER BOOK */
.sticker-book {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.sticker-page {
  width: 320px;
  height: 180px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 15px;
}

.sticker {
  font-size: 45px;
  background: #f0f9ff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 22px;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background: #ffe7a8;
}

button:hover {
  background: #ffcc66;
}

#nextLevelBtn {
  margin-top: 15px;
  width: 80%;
  max-width: 300px;
  padding: 15px;
  font-size: 26px;
  border: none;
  border-radius: 25px;
  background: gold;
  font-weight: bold;
}

